.categories {
    padding: 80px 40px;
    width: 100%;
    font-family: var(--font-family-serif);
    background-color: #fff;
}

.categories-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-text-primary);
    margin-bottom: 25px;
    text-align: left;
    position: relative;
    margin-left: 1.5rem;
}

.categories-title::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -22px;
    height: 35px;
    width: 6px;
    background: rgba(91, 109, 81, 0.9);
    ;
    border-radius: 5px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category-card {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(45, 87, 44, 0.15);
}

.category-icon-container {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.category-icon-container:hover {
    transform: scale(1.05);
}



.category-name {
    color: var(--body-background) !important;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    opacity: .4;
    color: var(--color-green-darkest);
    transform: translateY(100px);
}

.category-icon-container:hover .category-name {
    opacity: 1;
}

/* Responsive */
@media (max-width: 1024px) {
    .categories-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .categories-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .category-card {
        padding: 30px 15px;
    }

    .category-icon {
        font-size: 3rem;
    }

    .categories-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .categories-grid {
        grid-template-columns: 1fr;
    }

}