.categories-container {
    padding: 80px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.category-slider {
    padding: 80px 40px;
    text-align: center;
    position: relative;
    font-family: var(--font-family-serif);
}


.category-slider-title {
    font-size: 1.8rem;
    margin-bottom: 25px;
    color: var(--color-text-primary);
    font-weight: bold;
    display: flex;
    position: relative;
    margin-left: 1.5rem;
}


.category-slider-title::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -22px;
    height: 35px;
    width: 18px;
    background: rgba(91, 109, 81, 0.9);

    border-radius: 5px;
}


.category-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    position: relative;
}



.category-slide:hover .category-image {
    transform: scale(1.05);
}



.image-container {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    background-color: #f5f5f5;
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-image:hover {
    transform: scale(1.05);
}


.details {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cat-name {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-green-darkest);
    display: inline-block;
    border-bottom: 2px solid var(--color-green-medium);
    padding-bottom: 3px;
    margin-right: 50PX;
}



.category-price {
    font-weight: 500;
    color: var(--color-green-medium);
    font-size: 18px;
    margin-right: 50PX;
}




.add-cart-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(151, 169, 124, 0.95); */
    background-color: var(--color-green-medium);
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    opacity: 1;
}

.image-container:hover .add-cart-btn {
    opacity: 1;
    pointer-events: auto;
}

.category-slide:hover .add-cart-btn {
    transform: translateY(0);
}

.add-cart-btn:hover {
    background-color: var(--color-green-darkest);
}


.cart-icon {
    font-size: 1rem;
    margin-right: 6px;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: rgba(91, 109, 81, 0.9);
    color: var(--body-background);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease;
}

.arrow:hover {
    background-color: var(--color-green-darkest);
}

.arrow.prev {
    left: 10px;
}

.arrow.next {
    right: 10px;
}